form {
  border: 3px solid black;
  width: 40%;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #6db340;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.container {
  padding: 20px;
}

span {
  display: flex;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #314d89;
}
